%h4 
  = t(".applicant_details")
.form-group
  = f.label :applicant_name, t(".applicant_name"), class: "col-md-4 col-sm-5 col-xs-5 control-label"
  .col-md-4.col-sm-6.col-xs-6
    = f.text_field :applicant_name, class: "form-control", required: true
  .col-sm-11
    = show_field_error(@reservation_request, :applicant_name)
.form-group
  = f.label :applicant_telephone, t(".applicant_telephone"), class: "col-md-4 col-sm-5 col-xs-5 control-label"
  .col-md-4.col-sm-6.col-xs-6
    = f.text_field :applicant_telephone, class: "form-control"
  .col-sm-11
    = show_field_error(@reservation_request, :applicant_telephone)
.form-group
  = f.label :applicant_mobile, t(".applicant_mobile"), class: "col-md-4 col-sm-5 col-xs-5 control-label"
  .col-md-4.col-sm-6.col-xs-6
    = f.text_field :applicant_mobile, class: "form-control"
  .col-sm-11
    = show_field_error(@reservation_request, :applicant_mobile)
.form-group
  = f.label :applicant_email, t(".applicant_email"), class: "col-md-4 col-sm-5 col-xs-5 control-label"
  .col-md-5.col-sm-7.col-xs-6
    = f.text_field :applicant_email, class: "form-control", required: true
  .col-sm-11
    = show_field_error(@reservation_request, :applicant_email)
.form-group
  = f.label :applicant_town, t(".applicant_town"), class: "col-md-4 col-sm-5 col-xs-5 control-label"
  .col-md-4.col-sm-6.col-xs-6
    = f.text_field :applicant_town, class: "form-control", required: true
  .col-sm-11
    = show_field_error(@reservation_request, :applicant_town)
