%h4 
  = t(".applicant_details")
.form-group
  = f.label :applicant_name, t(".applicant_name"), class: "col-xs-5 control-label"
  .col-md-5.col-sm-7.col-xs-6
    = f.text_field :applicant_name, class: "form-control", required: true, readonly: readonly
  .col-sm-11
    = show_field_error(@reservation_request, :applicant_name)
.form-group
  = f.label :applicant_telephone, t(".applicant_telephone"), class: "col-xs-5 control-label"
  .col-md-5.col-sm-7.col-xs-6
    = f.text_field :applicant_telephone, class: "form-control", readonly: readonly
  .col-sm-11
    = show_field_error(@reservation_request, :applicant_telephone)
.form-group
  = f.label :applicant_mobile, t(".applicant_mobile"), class: "col-xs-5 control-label"
  .col-md-5.col-sm-7.col-xs-6
    = f.text_field :applicant_mobile, class: "form-control", readonly: readonly
  .col-sm-11
    = show_field_error(@reservation_request, :applicant_mobile)
.form-group
  = f.label :applicant_email, t(".applicant_email"), class: "col-xs-5 control-label"
  .col-md-5.col-sm-7.col-xs-6
    = f.text_field :applicant_email, class: "form-control", required: true, readonly: readonly
  .col-sm-11
    = show_field_error(@reservation_request, :applicant_email)
.form-group
  = f.label :applicant_town, t(".applicant_town"), class: "col-xs-5 control-label"
  .col-md-5.col-sm-7.col-xs-6
    = f.text_field :applicant_town, class: "form-control", required: true, readonly: readonly
  .col-sm-11
    = show_field_error(@reservation_request, :applicant_town)
.form-group
  = f.label :vehicle_registration_numbers, t(".vehicle_registration_numbers"), class: "col-xs-5 control-label"
  .col-md-5.col-sm-7.col-xs-6
    = f.text_field :vehicle_registration_numbers, class: "form-control", readonly: readonly
  .col-sm-11
    = show_field_error(@reservation_request, :vehicle_registration_numbers)
.form-group
  = f.label :special_requests, class: "col-xs-5 control-label"
  .col-md-5.col-sm-7.col-xs-6
    = f.text_area :special_requests, class: "form-control", :cols => 20, :rows => 4, readonly: readonly

