%div#third-facility
  %h4
    = t(".reservation_for_facility_3")
  - if readonly
    .form-group
      = f.label :facility_type_3, t(".facility_type_3"), readonly: "", class: "col-xs-5 control-label"
      .col-md-4.col-sm-5.col-xs-6
        = f.text_field :facility_type_3, readonly: "", class: "form-control", value: ReservationRequest::FACILITY_TYPES[@reservation_request.facility_type_3]
  - else  
    .form-group
      = f.label :facility_type_3, t(".facility_type_3"), class: "col-xs-5 control-label"
      .col-md-3.col-sm-6.col-xs-6
        = f.select :facility_type_3, options_for_select(@facility_types, selected: @reservation_request.facility_type_3)
      .row  
        .col-xs-10.col-xs-offset-1
          = show_field_error(@reservation_request, :facility_type_3)
  .form-group
    = f.label :start_date_3, t(".start_date_3"), class: "col-xs-5 control-label"
    .col-md-4.col-sm-5.col-xs-6
      =f.text_field :start_date_3, class: "form-control datepicker", data: {provide: "datepicker", dateFormat: "dd/mm/yyyy"}, value: display_date(@reservation_request.start_date_3), readonly: readonly
    - if @unavailable_facilities.any? && @unavailable_facilities.include?(@reservation_request.facility_type_3)
      %span
        = "* #{t('.fully_booked')}"
    .row    
      .col-xs-10.col-xs-offset-1
      = show_field_error(@reservation_request, :start_date_3)
  .form-group
    = f.label :end_date_3, t(".end_date_3"), class: "col-xs-5 control-label"
    .col-md-4.col-sm-5.col-xs-6
      =f.text_field :end_date_3, class: "form-control datepicker", data: {provide: "datepicker", dateFormat: "dd/mm/yyyy"}, value: display_date(@reservation_request.end_date_3), readonly: readonly
    .col-xs-10.col-xs-offset-1
      = show_field_error(@reservation_request, :end_date_3)
  .form-group
    = f.label :adults_18_plus_count_3, t(".adults_18_plus_count_3"), class: "col-sm-6 control-label"
    .col-sm-6.col-xs-7
      .col-sm-5
        = f.number_field :adults_18_plus_count_3, class: "form-control", readonly: readonly
      - if @total_amount_3 > 0  
        .col-md-4.col-sm-5.col-xs-6.col-sm-offset-1
          %span.age-group-amount
            = to_local_amount(@adults_18_plus_count_3)
    .col-xs-10.col-xs-offset-1
      = show_field_error(@reservation_request, :adults_18_plus_count_3)
  .form-group
    = f.label :teenagers_count_3, t(".teenagers_count_3"), class: "col-xs-5 control-label"
    .col-md-6.col-sm-6.col-xs-7
      .col-xs-5
        = f.number_field :teenagers_count_3, class: "form-control", readonly: readonly
      - if @total_amount_3 > 0  
        .col-md-4.col-sm-5.col-xs-6.col-sm-offset-1
        %span.age-group-amount
          = to_local_amount(@teenagers_count_3)
    .col-xs-10.col-xs-offset-1
      = show_field_error(@reservation_request, :teenagers_count_3)
  .form-group
    = f.label :children_6_12_count_3, t(".children_6_12_count_3"), class: "col-sm-6 control-label"
    .col-md-6.col-sm-6.col-xs-7
      .col-xs-5
        = f.number_field :children_6_12_count_3, class: "form-control", readonly: readonly
      - if @total_amount_3 > 0  
        .col-md-4.col-sm-5.col-xs-6.col-sm-offset-1
          %span.age-group-amount
            = to_local_amount(@children_amount_3)
    .col-xs-10.col-xs-offset-1
      = show_field_error(@reservation_request, :children_6_12_count_3)
  .form-group
    = f.label :infants_count_3, t(".infants_count_3"), class: "col-sm-6 control-label"
    .col-md-6.col-sm-6.col-xs-7
      .col-xs-5
        = f.number_field :infants_count_3, class: "form-control", readonly: readonly
      - if @total_amount_3 > 0  
        .col-md-4.col-sm-5.col-xs-6.col-sm-offset-1
          %span.age-group-amount
            = to_local_currency(0)
    .col-xs-10.col-xs-offset-1
      = show_field_error(@reservation_request, :infants_count_3)
  - if @total_amount_3 > 0  
    .form-group
      = label :total_amount_3, "Total amount", class: "col-xs-5 control-label"
      .col-md-6.col-sm-6.col-xs-7
        .col-md-5.col-sm-5.col-xs-7.col-md-offset-4.col-sm-offset-5.col-xs-offset-4
          %span.total-amount
            = to_local_currency(@total_amount_3)
  .form-group
    = f.label :power_point_required_3, t(".power_point_required_3"), class: "col-xs-5 control-label checkbox"
    .col-sm-2
      = f.check_box :power_point_required_3, {disabled: readonly}, checked_value = "1", unchecked_value = "0"