- provide(:title, t(".update_reservation_request"))

%section.reservation-request
  %h1 
    = t(:reservation_request, scope: [:menu])
  .row
    .col-md-7.col-sm-7
      = form_for([@reservation_request], html: {class: "form-horizontal", role: "form"}) do |f|
        = render 'applicant_details', f: f, readonly: false
        .form-group
          = label :facility_1, t(".provide_details_for_each_facility"), class: "control-label heading"
        = render 'fields1', f: f, readonly: false
        .form-group
          = label :facility_2, t(".second_facility_required"), class: "control-label heading"
          = check_box_tag t(".second_facility_required")
        = render 'fields2', f: f, readonly: false
        .form-group
          = label :facility_3, t(".third_facility_required"), class: "control-label heading"
          = check_box_tag t(".third_facility_required")
        = render 'fields3', f: f, readonly: false
        .centered
          .button.btn
            = f.submit t(".update_and_review"), class: "btn btn-large btn-primary", id:"request-update", name: "update"
            = f.submit t(".submit"), class: "btn btn-large btn-success", id: "request-submit", name: "update"
    .col-md-5.col-sm-5
      %p
        More details to come

= debug @reservation_request