- provide(:title, t(:home, scope: [:menu]))

%main
  .row
    .col-sm-6.clearfix
      %section.carpediem
        %figure.logo
          %div
            = image_tag('logo.png', class: 'logo')
          %figcaption
            %header
              %h2 
                = t('camping_grounds', scope: [:site])
              %p 
                = t('ps_118v24', scope: [:articles]).upcase
              %p
                = t('ps_118v24', scope: [:references]).upcase
        
    .col-sm-6.clearfix
      %section.intro
        %header.entrance
          %figure
            = image_tag('entrance-sm.jpg')
          %h2 
            = t('site_name', scope: ['site'])
          %h2
            = t('site_town', scope: ['site'])  
        %p
          = t('carpediem', scope: ['articles'])
        %p
          %em
            = t('owners', scope: ['site'])
