%main
  .row
    .col-sm-6
      %section.carpediem.clearfix
        %figure
          %div
            = image_tag('logo.png', class: 'logo')
          %figcaption
            %header
              %h2 
                = t('camping_grounds', scope: [:site])
              %p 
                = t('ps_118v24', scope: [:articles]).upcase
              %p
                = t('ps_118v24', scope: [:references]).upcase
    .col-sm-6.intro
      %section.intro
        %h2 
          = t('name_and_place', scope: ['site'])
        %p
          = t('carpediem', scope: ['articles'])
        %p
          %em
            = t('owners', scope: ['site'])

