- provide(:title, t(".accommodation_type_list"))
.row
  .col-xs-12.col-md-12
    %section.accommodation_types.clearfix
      %h1
        = t(".accommodation_type_list")
      .table-responsive
        %table.table.accommodation_types
          %thead
            %tr
              %td
                %b
                  = t(".accom_type")
              %td
                %b
                  = t(".description")
              %td
                %b
                  = t(".show")
              %td
                %b
                  = t(".show_normal_prices")
              %td
                %b
                  = t(".show_in_season_prices")
              %td
                %b
                  = t(".show_promotional_prices")
          %tbody
            = render @accommodation_types || t(".no_accommodation_types_found")
      .row
        .actions
          -if current_user && current_user.admin?
            %button.btn.btn-info
              = link_to t(".add_accommodation_type"), new_admin_accommodation_type_path
