%section.accommodation
  %h1 
    = t(:accommodation, scope: [:accommodation]).upcase
    %span
      = "(#{t(:no_alcohol, scope: [:accommodation]).upcase})"
        
  %p.sub-heading 
    = t(:book_in_times, scope: [:accommodation]).upcase

  %section.privilege_type
    .row
      %table
        %thead
          - @no_power_header.each do |hdr|
            %th
              = hdr
        %tbody
          - @no_power_dtl_lines.each do |row|
            %tr
              - row.each do |col| 
                %td
                  =col    
    - if current_user && current_user.admin?        
      .row
        %btn.btn-primary.btn-lg 
          = link_to 'Edit', accommodation_path         
  %section.privilege_type
    .row
      %table
        %thead
          - @power_header.each do |hdr|
            %th
              = hdr
        %tbody
          - @power_dtl_lines.each do |row|
            %tr
              - row.each do |col| 
                %td
                  =col    
    - if current_user && current_user.admin?        
      .row
        %btn.btn-primary.btn-lg 
          = link_to 'Edit', accommodation_path         
  %section.privilege_type.day_visitor
    .row
      %table
        %thead
          - @day_visitor_header.each do |hdr|
            %th
              = hdr
        %tbody
          - @day_visitor_dtl_lines.each do |row|
            %tr
              - row.each do |col| 
                %td
                  =col    
    - if current_user && current_user.admin?        
      .row
        %btn.btn-primary.btn-lg 
          = link_to 'Edit', accommodation_path         
  %p.day-visitor-comment
    = " (1) #{I18n.t(:can_arrange_picnic_basket, scope: [:accommodation, :col_2]).capitalize}"             
  %section.privilege_type
    .row
      %table
        %thead
          - @chalet_header.each do |hdr|
            %th
              = hdr
        %tbody
          - @chalet_dtl_lines.each do |row|
            %tr
              - row.each do |col| 
                %td
                  =col    
    - if current_user && current_user.admin?        
      .row
        %btn.btn-primary.btn-lg 
          = link_to 'Edit', accommodation_path         
  %section.privilege_type
    .row
      %table
        %thead
          - @groups_header.each do |hdr|
            %th
              = hdr
        %tbody
          - @groups_dtl_lines.each do |row|
            %tr
              - row.each do |col| 
                %td
                  =col    
    - if current_user && current_user.admin?        
      .row
        %btn.btn-primary.btn-lg 
          = link_to 'Edit', accommodation_path         

-# debug(@no_power.inspect)
-# debug(@no_power_header)
