- provide(:title, t(:forgot_password, scope: [:menu]))

%section.forgot-password
  %h1 
    = t(:forgot_password, scope: [:menu])

  .container
    .row
      = form_for(@user, url: allocate_password_path, html: {class: "form-horizontal", role: "form"}) do |f|
        .form-group
          = f.label :email, t(".email"), class: "col-sm-2 control-label"
          .col-sm-8
            = f.text_field :email, class: "form-control"
        .centered
          .button.btn
            = f.submit t(".request_new_password"), class: "btn btn-large btn-primary"  