- provide(:title, t(".events"))

#events
  %h2{ id: 'month' }
    = link_to "<", date: @date.prev_month.strftime("%y-%m-%d")
    = display_date(@date, {format: :month})
    = link_to ">", date: @date.next_month.strftime("%y-%m-%d")
  .row
    .col-sm-10.col-sm-offset-1
      = calendar do |date| 
        = date.day
        - dte2 = date.strftime("%d-%m-%y")
        - if @grouped_cal_days[dte2]
          %ul
            - @grouped_cal_days[dte2].each do |calday|
              %li
                %span.title
                  = link_to calday.diarisable.title, calday.diarisable, :data => { event_id: calday.diarisable.id }
  .row
    .actions
      -if current_user && current_user.admin?
        %button.btn.btn-info
          = link_to t(".add_event"), new_admin_event_path
