.form-group
  = f.label :type, t(".type"), class: "col-sm-4 col-xs-4 control-label"
  .col-sm-3.col-xs-4
    = f.radio_button(:type, "Caravan", selected: @camping_site.type)
    = f.label(:type, "Caravan")
  .col-sm-3.col-xs-4
    = f.radio_button(:type, "Tent", selected: @camping_site.type)
    = f.label(:type, "Tent")
.form-group
  = f.label :location_code, t(".location_code"), class: "col-sm-4 col-xs-4 control-label"
  .col-sm-2.col-xs-3
    = f.text_field :location_code, class: "form-control", required: true
  .col-sm-8.col-xs-8
    = show_field_error(@camping_site, :location_code)
.form-group
  = f.label :powered, t(".powered"), class: "col-sm-4 control-label"
  .col-sm-5
    = f.check_box :powered
  .col-sm-5.col-sm-offset-4
    = show_field_error(@camping_site, :powered)
.form-group
  = f.label :reservable, t(".reservable"), class: "col-sm-4 control-label"
  .col-sm-5
    = f.check_box :reservable
  .col-sm-5.col-sm-offset-4
    = show_field_error(@camping_site, :reservable)
