- provide(:title, t(".camping_site_list"))
.row
  .col-xs-12.cols-xs-offset-0.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
    %section.camping-sites.clearfix
      %h1
        = t(".camping_site_list")

      = select_tag :camping_sites, options_for_select({'Tents' => @tents, 'Caravans' => @caravans, 'Tents and Caravans' => @camping_sites}), { class: "filter" }
      -# = f.select :tariff_category, tariff_categories_for_select, {}, class: "form-control"

      .table-responsive
        %table.table.camping-sites
          %thead
            %tr
              %td
                %b
                  = t(".camping_type")
              %td
                %b
                  = t(".location_code")
              %td
                %b
                  = t(".powered")
              %td
                %b
                  = t(".reservable")
              %td    
          %tbody#site_list
            - @camping_sites.each do |site|
              %tr
                %td
                  = site.type
                %td
                  = link_to site.location_code, sti_camping_site_path(site.type, site)
                %td
                  = site.powered ? 'Yes' : 'No' 
                %td
                  = site.reservable ? 'Yes' : 'No' 
                %td
                  = link_to 'Edit', "#{sti_camping_site_path(site.type, site)}/edit"
      .row
        .actions
          -if current_user && current_user.admin?
            .button.btn
              = link_to t(".add_camping_site"), new_admin_camping_site_path
           