- provide(:title, t(".camping_site_details"))

.row
  %section.camping-sites.clearfix
    %h1
      = t(".camping_site_details")
    .row
      .col-xs-6.col-xs-offset-3.col-md-4.col-md-offset-4
        = form_for([:admin, @camping_site], html: {class: "form-horizontal", role: "form"}) do |f|
          .form-group
            = f.label :type, t(".camping_type"), class: "col-sm-6 control-label"
            .col-sm-6
              = f.text_field :type, readonly: "", class: 'form-control'
          .form-group
            = f.label :location_code, t(".location_code"), class: "col-sm-6 control-label"
            .col-sm-6
              = f.text_field :location_code, readonly: "", class: 'form-control'
          .form-group
            = f.label :powered, t(".powered"), class: "col-sm-6 control-label"
            .col-sm-6
              = f.text_field :powered, readonly: "", value: @camping_site.powered ? 'Yes' : 'No', class: 'form-control'
          .form-group
            = f.label :reservable, t(".reservable"), class: "col-sm-6 control-label"
            .col-sm-6
              = f.text_field :reservable, readonly: "", value: @camping_site.reservable ? 'Yes' : 'No', class: 'form-control'
    .row
      .actions
        .button.btn
          = link_to t(".return_to_camping_site_list"), admin_camping_sites_path
        -if current_user && current_user.admin?
          .button.btn
            = link_to t(".edit"), edit_admin_camping_site_path

#events
  %h2{ id: 'month' }
    = link_to "<", date: @date.prev_month.strftime("%y-%m-%d")
    = display_date(@date, {format: :month})
    = link_to ">", date: @date.next_month.strftime("%y-%m-%d")
  .row
    .col-sm-10.col-sm-offset-1
      = calendar do |date| 
        = date.day
        - dte2 = date.strftime("%d-%m-%y")
        - if @grouped_cal_days[dte2]
          %ul
            - @grouped_cal_days[dte2].each do |calday|
              %li
                %span.title
                  = link_to calday.diarisable.reservation.reserved_for_name, admin_reservation_path(calday.diarisable.reservation), :data => { reservation_id: calday.diarisable.reservation.id }

