.form-group
  = f.label :tariff_category, t(".tariff_category"), class: "col-sm-3 control-label"
  .col-sm-9
    = f.select :tariff_category, tariff_categories_for_select, {}, class: "form-control", required: true
  .col-sm-9.col-sm-offset-3
    = show_field_error(@tariff, :tariff_category)
.form-group
  = f.label :price_class, t(".price_class"), class: "col-sm-3 control-label"
  .col-sm-4
    = f.select :price_class, price_classes_for_select, {}, class: "form-control", required: true
  .col-sm-9.col-sm-offset-3
    = show_field_error(@tariff, :price_class)
.form-group
  = f.label :tariff, t(".tariff"), class: "col-sm-3 control-label"
  .col-sm-4
    = f.text_field :tariff, value: to_local_amount(@tariff.tariff), class: "form-control", required: true
  .col-sm-9.col-sm-offset-3
    = show_field_error(@tariff, :tariff)
.form-group
  = f.label :effective_date, t(".effective_date"), class: "col-sm-3 control-label"
  .col-sm-4
    = f.text_field :effective_date, class: "form-control datepicker", data: {provide: "datepicker"}, required: true, value: display_date(@tariff.effective_date)
  .col-sm-9.col-sm-offset-3
    = show_field_error(@tariff, :effective_date)
