- provide(:title, t(".tariff_list"))
.row
  .col-xs-12.col-md-12
    %section.tariffs.clearfix
      %h1
        = t(".tariff_list")
      .table-responsive
        %table.table.tariffs
          %thead
            %tr
              %td
                %b
                  = t(".tariff_category")
              %td
                %b
                  = t(".tariff")
              %td
                %b
                  = t(".effective_date")
              %td
                %b
                  = t(".end_date")
          %tbody
            = render @tariffs || t(".no_tariffs_found")
      .row
        .actions
          -if current_user && current_user.admin?
            %button.btn.btn-info
              = link_to t(".add_tariff"), new_admin_accommodation_type_tariff_path(@accommodation_type)
      