%tr
  %td
    = link_to reservation_request.applicant_name, admin_reservation_request_path(reservation_request)
  %td
    = ReservationRequest::FACILITY_TYPES[reservation_request.facility_type_1]
  %td
    = reservation_request.reservation_reference_id.to_s  
  %td
    = display_date(reservation_request.start_date_1, {format: :short})
  %td
    = reservation_request.status
