- provide(:title, t(".reservation_request_details"))

.row
  %section.reservation-request.clearfix
    %h1
      = t(".reservation_request_details")
    .row
      .col-xs-10.col-xs-offset-1.col-md-10.col-md-offset-1
        = form_for([:admin, @reservation_request], html: {class: "form-horizontal", role: "form"}) do |f|
          = render 'applicant_details', f: f
          = render 'facility1', f: f
          - if @reservation_request.start_date_2.is_a? Time
            = render 'facility2', f: f              
          - if @reservation_request.start_date_3.is_a? Time
            = render 'facility3', f: f              

    .row
      .actions
        .button.btn
          = link_to t(".decline_request"), decline_admin_reservation_request_path(@reservation_request)
        .button.btn
          = link_to t(".accept_request"), accept_admin_reservation_request_path(@reservation_request)

- if defined? request_number
  = debug request_number

- if defined? @request_number
  = debug @request_number

= debug @reservation_request  