!!!
%html
  %head
    %title 
      = yield(:title)
    %meta{:charset => "utf-8"}
    <meta http-equiv="X-UA-Compatible", content="IE=edge">
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    = stylesheet_link_tag :application, :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag :application, "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    = render 'layouts/header'
    .main-container
      .mainpage.clearfix
        = render partial: "shared/flash_messages", flash: flash
        -# render 'layouts/media_aid'
        = yield
    = render 'layouts/footer'
    -# debug(@title)

